<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'app_title' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="update()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h4 text-center *ngIf="profile">{{profile.surname | uppercase}} {{profile.name | uppercase}}</h4>
  <h4 text-center>{{now | date:'EEEE, dd MMM yyyy'}}</h4>
  <h4 text-center>{{'time_label' | translate | uppercase}} <b>{{now | date:'HH:mm'}}</b></h4>

  <div text-center><button ion-button (click)="register()" large>{{'btn_register' | translate}}</button></div>
  <br>
  <h4>{{'today_data'| translate}}</h4>
  <ion-list *ngIf="records" no-lines>
    <ion-item *ngFor="let item of records">
      <ion-icon name="time" item-start></ion-icon>
      {{item.timestamp | date:'HH:mm'}}
    </ion-item>
  </ion-list>
  <p text-center class="danger" *ngIf="records != null && records.length == 0">{{'today_data_empty' | translate}}</p>  
</ion-content>
