<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'tab_history' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="dark" clear icon-only large (click)="prevMonth()"><ion-icon name="ios-arrow-back"></ion-icon></button>
        <button ion-button clear large>{{to| date:'MMMM yyyy' | uppercase}}</button>
        <button ion-button color="dark" clear icon-only large (click)="nextMonth()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
    </ion-col>
    </ion-row>
  </ion-grid>  
  <h4 text-center  *ngIf="groups != null && groups.length == 0 && records != null && records.length == 0">{{'nodata' | translate}}</h4>  
  <div *ngIf="records && groups">
    <ion-item-group *ngFor="let group of groups">
      <ion-item-divider><b>{{group.date | date:'EEEE d'}}</b></ion-item-divider>
      <ion-item *ngFor="let item of group.dayRecords">
        <ion-icon name="time" item-start></ion-icon>
        {{item.timestamp | date:'HH:mm'}}
        <ion-note item-end>
        {{(item.mode !== 'mobile' ? item.mode : 'app') | titlecase}}
        </ion-note>      
      </ion-item>
      <ion-item class="missing" *ngIf="!group.dayRecords || group.dayRecords.length == 0">
        <ion-icon name="time" item-start></ion-icon>
        {{'noattendance' | translate}}
      </ion-item>
    </ion-item-group>  
  </div>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
